* {
  box-sizing: border-box; }

html, body, #app {
  height: 100%;
  width: 100%;
  margin: 0; }

#app {
  padding: 5px;
  flex-grow: 1;
  background-color: #EEE;
  display: grid;
  grid-template-columns: minmax(50px, 150px) auto;
  grid-template-rows: 75% auto auto;
  row-gap: 5px;
  column-gap: 5px;
  font-family: Roboto, monospace;
  grid-template: "main-logs-container video-container" 1fr "main-logs-container dashboard-container" 3fr / min-content 2fr; }
  #app .grid-item {
    border: 1px solid #BBB;
    border-radius: 5px; }
  #app .container {
    border: 1px solid black;
    border-radius: 5px;
    padding: 15px; }
  #app .dashboard-container {
    grid-area: dashboard-container;
    height: 100%;
    overflow: auto; }
    #app .dashboard-container .controls-container, #app .dashboard-container .data-container {
      display: flex;
      flex-wrap: wrap; }
      #app .dashboard-container .controls-container .input, #app .dashboard-container .data-container .input {
        width: calc(16.6% - 4px);
        margin: 2px;
        padding: 10px;
        border: 1px solid lightgrey;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: white;
        height: 60px;
        min-width: 180px;
        min-height: 80px; }
        #app .dashboard-container .controls-container .input.wide, #app .dashboard-container .data-container .input.wide {
          width: calc(33.2% - 4px); }
        #app .dashboard-container .controls-container .input.preload, #app .dashboard-container .controls-container .input.pause, #app .dashboard-container .controls-container .input.currentSrc, #app .dashboard-container .controls-container .input.src, #app .dashboard-container .controls-container .input.poster, #app .dashboard-container .controls-container .input.getVideoPlaybackQuality, #app .dashboard-container .data-container .input.preload, #app .dashboard-container .data-container .input.pause, #app .dashboard-container .data-container .input.currentSrc, #app .dashboard-container .data-container .input.src, #app .dashboard-container .data-container .input.poster, #app .dashboard-container .data-container .input.getVideoPlaybackQuality {
          flex-direction: row; }
          #app .dashboard-container .controls-container .input.preload input[type="text"], #app .dashboard-container .controls-container .input.pause input[type="text"], #app .dashboard-container .controls-container .input.currentSrc input[type="text"], #app .dashboard-container .controls-container .input.src input[type="text"], #app .dashboard-container .controls-container .input.poster input[type="text"], #app .dashboard-container .controls-container .input.getVideoPlaybackQuality input[type="text"], #app .dashboard-container .data-container .input.preload input[type="text"], #app .dashboard-container .data-container .input.pause input[type="text"], #app .dashboard-container .data-container .input.currentSrc input[type="text"], #app .dashboard-container .data-container .input.src input[type="text"], #app .dashboard-container .data-container .input.poster input[type="text"], #app .dashboard-container .data-container .input.getVideoPlaybackQuality input[type="text"] {
            width: 100%;
            margin-left: 15px;
            padding: 10px; }
        #app .dashboard-container .controls-container .input:hover > .tooltip, #app .dashboard-container .data-container .input:hover > .tooltip {
          display: block; }
        #app .dashboard-container .controls-container .input .tooltip, #app .dashboard-container .data-container .input .tooltip {
          position: absolute;
          margin: 5px;
          padding: 5px;
          border: 1px solid black;
          display: none;
          background: white;
          z-index: 1000;
          bottom: calc(100% - 5px); }
      #app .dashboard-container .controls-container .switch, #app .dashboard-container .data-container .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px; }
        #app .dashboard-container .controls-container .switch input, #app .dashboard-container .data-container .switch input {
          opacity: 0;
          width: 0;
          height: 0; }
          #app .dashboard-container .controls-container .switch input:disabled + .slider, #app .dashboard-container .data-container .switch input:disabled + .slider {
            background-color: #dedede; }
          #app .dashboard-container .controls-container .switch input:checked + .slider, #app .dashboard-container .data-container .switch input:checked + .slider {
            background-color: #2d78f6; }
            #app .dashboard-container .controls-container .switch input:checked + .slider:before, #app .dashboard-container .data-container .switch input:checked + .slider:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px); }
          #app .dashboard-container .controls-container .switch input:hover + .slider, #app .dashboard-container .data-container .switch input:hover + .slider {
            box-shadow: 0 0 1px #015CC8; }
        #app .dashboard-container .controls-container .switch .slider, #app .dashboard-container .data-container .switch .slider {
          position: absolute;
          cursor: pointer;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: #ccc;
          -webkit-transition: .4s;
          transition: .4s; }
          #app .dashboard-container .controls-container .switch .slider.round, #app .dashboard-container .data-container .switch .slider.round {
            border-radius: 34px; }
            #app .dashboard-container .controls-container .switch .slider.round:before, #app .dashboard-container .data-container .switch .slider.round:before {
              border-radius: 50%; }
          #app .dashboard-container .controls-container .switch .slider:before, #app .dashboard-container .data-container .switch .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s; }
    #app .dashboard-container .segments-container {
      display: flex;
      align-items: center; }
      #app .dashboard-container .segments-container .seekable-tag {
        color: #444; }
      #app .dashboard-container .segments-container .buffered-tag {
        color: #2d78f6; }
      #app .dashboard-container .segments-container .played-tag {
        color: #11dd11; }
      #app .dashboard-container .segments-container .segments-area {
        width: 100%;
        position: relative;
        margin: 10px 5px 15px; }
        #app .dashboard-container .segments-container .segments-area .marker {
          width: 3px;
          position: absolute;
          pointer-events: none;
          height: 100%;
          z-index: 2; }
          #app .dashboard-container .segments-container .segments-area .marker::before {
            position: absolute;
            font-size: 10px;
            top: 100%;
            left: -15px; }
          #app .dashboard-container .segments-container .segments-area .marker.suggestedTime-marker {
            width: 1px;
            background: white;
            display: none; }
            #app .dashboard-container .segments-container .segments-area .marker.suggestedTime-marker.show {
              display: block; }
            #app .dashboard-container .segments-container .segments-area .marker.suggestedTime-marker::before {
              color: black;
              content: attr(suggestedTime-before); }
          #app .dashboard-container .segments-container .segments-area .marker.currentTime-marker {
            background: #aa1111;
            left: 0; }
            #app .dashboard-container .segments-container .segments-area .marker.currentTime-marker::before {
              color: #aa1111;
              content: attr(currentTime-before); }
        #app .dashboard-container .segments-container .segments-area .segments-view {
          width: 100%;
          height: 30px;
          background: lightgrey;
          position: relative;
          pointer-events: none; }
          #app .dashboard-container .segments-container .segments-area .segments-view .segment {
            position: absolute;
            text-align: center;
            height: 100%;
            background: #2d78f6;
            color: white;
            border-right: 1px solid white; }
            #app .dashboard-container .segments-container .segments-area .segments-view .segment.buffered-segment {
              background: #2d78f6; }
              #app .dashboard-container .segments-container .segments-area .segments-view .segment.buffered-segment::before {
                color: #015CC8; }
            #app .dashboard-container .segments-container .segments-area .segments-view .segment.played-segment {
              background: #11dd11;
              height: 70%;
              top: 30%; }
              #app .dashboard-container .segments-container .segments-area .segments-view .segment.played-segment::before {
                top: 0;
                color: #115511; }
            #app .dashboard-container .segments-container .segments-area .segments-view .segment.seekable-segment {
              background: #444; }
              #app .dashboard-container .segments-container .segments-area .segments-view .segment.seekable-segment::before {
                top: 0;
                color: white; }
            #app .dashboard-container .segments-container .segments-area .segments-view .segment::before {
              color: black;
              content: attr(end-before);
              right: 0;
              position: absolute;
              font-size: 10px;
              top: -10px; }
  #app .video-container {
    grid-area: video-container;
    overflow: auto;
    resize: vertical;
    height: 350px; }
    #app .video-container .video-wrapper {
      text-align: center; }
  #app .main-logs-container {
    grid-area: main-logs-container;
    width: 100%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    height: 100%; }
    #app .main-logs-container .log-binds {
      height: 350px;
      display: flex;
      flex-wrap: wrap; }
      #app .main-logs-container .log-binds .binds-title {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        align-items: center; }
      #app .main-logs-container .log-binds div {
        width: 50%; }
      #app .main-logs-container .log-binds .event {
        display: flex; }
        #app .main-logs-container .log-binds .event > label {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block; }
        #app .main-logs-container .log-binds .event input:checked + label {
          font-weight: 500; }
    #app .main-logs-container .logs-container {
      width: 100%;
      height: calc(100% - 350px); }
      #app .main-logs-container .logs-container .logs-title {
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        align-items: center; }
      #app .main-logs-container .logs-container .logs {
        width: 100%;
        min-height: 50px;
        overflow: auto;
        height: calc(100% - 60px); }
      #app .main-logs-container .logs-container .event {
        padding: 5px 0; }
    #app .main-logs-container .event.error {
      color: #ff0000; }
    #app .main-logs-container .event.play {
      color: #276b38; }
    #app .main-logs-container .event.pause {
      color: #8c2424; }
    #app .main-logs-container .event.timeupdate {
      color: #2c5a9e; }
    #app .main-logs-container .event.ended {
      color: #561e87; }
    #app .main-logs-container .event.volumechange {
      color: #c74490; }
